body {
    margin: 0;
    background-color: #0e1111;
}




/**
 * Typing animation with pure CSS.
 * Works best in browsers supporting the ch unit.
 */

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

h1 {
    color:green;
    font: bold 111% Consolas, Monaco, monospace;
    border-right: 2px solid;
    border-right-color: white;
    width: 27ch; /* Ne kadar yazı yazacaksanız karakter sayacında sayıp buraya karakter sayısı kadar yazın. */
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(200, end), /* # Adımlar = # Karakter Sayısı */
    blink-caret 0.5s step-end infinite alternate;
}